html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
}
.inner {
  max-width: 1500px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  .cover {
    position: relative;
    display: flex;
    gap: 80px;
    height: 800px;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 0px 50px;
    &::after {
      position: absolute;
      top: 20px;
      right: -20px;
      display: block;
      content: "";
      transform: rotate(45deg);
      width: 150px;
      height: 40px;
      background: #111;
      z-index: 999;
    }
  }
}

.PORTFOLIO {
  .num {
    font-family: "Sora", sans-serif;
    font-size: 2rem;
    font-weight: 300;
    position: fixed;
    top: 40%;
    left: calc(7rem - 0.3rem);
    z-index: 999;
  }
  .Gnb {
    position: fixed;
    text-align: center;
    top: calc(50% - 5rem);
    left: 7rem;
    z-index: 999;
    ul {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      .menu {
        display: inline-block;
        width: 0.5rem;
        height: 0.5rem;
        background: #333;
        border-radius: 50%;
        transform-origin: center;
        &.on {
          transform: scale(1.8);
          transition: 0.5s;
        }
      }
    }
  }
  .profileAnchor {
    font-size: 1.8rem;
    width: 2rem;
    position: fixed;
    bottom: 20%;
    left: 3.5rem;
    z-index: 999;
  }
}
.mainPage {
  position: relative;
  overflow: hidden;
  background: url(../public/assets/img/bg.png) no-repeat center center/cover;
  background-attachment: fixed;
  h1 {
    font-family: "LeferiPoint-WhiteObliqueA";
    font-size: 5.5rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  p {
    font-family: "LeferiPoint-WhiteObliqueA";
    font-size: 1.8rem;
    text-align: center;
  }
  .code {
    font-family: "Archivo Black", sans-serif;
    position: absolute;
    font-size: 20rem;
    color: rgba(255, 255, 255, 0.2);
    bottom: 0;
    right: 0;
    z-index: 999;
    font-weight: 900;
    text-align: right;
  }
}
.section {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  &.subPage {
    background: url(../public/assets/img/bg_sub.png) no-repeat center
      center/cover;
    background-attachment: fixed;
  }

  .picture {
    position: relative;
    flex: 8;
    opacity: 0;
    transition: 2s 0.5s;
    figure {
      position: absolute;
      top: 5%;
      left: 50%;
      transform: translate(-50%);
      width: 75%;
      height: 80%;
    }
    @for $i from 1 through 5 {
      .item0#{$i} {
        background: url(../public/assets/img/pf0#{$i}.png)
          no-repeat
          center
          top/cover;
        transition: 7s;
        &:hover {
          background-position: center bottom;
        }
      }
      .item02 {
        transition: 1s;
      }
      .item04 {
        transition: 9s;
      }
    }
  }
  .desc {
    flex: 5;
    transform: translateY(-10rem);
    opacity: 0;
    transition: 0.7s 1s;
    .pfTitle {
      font-family: "Sora", sans-serif;
      font-size: 5rem;
      font-weight: 500;
      margin-bottom: 1rem;
    }
    .pfLink {
      ul {
        display: flex;
        gap: 10px;
        .linkBtn {
          display: inline-block;
          padding: 7px 20px 5px 20px;
          margin-bottom: 3rem;
          background: #222;
          border-radius: 1.5rem;
          color: #fff;
        }
      }
    }
    .pfInfo {
      margin-bottom: 3rem;
      word-break: keep-all;
      &.pfInfo::before {
        content: "";
        display: block;
        width: 5rem;
        height: 0.2rem;
        background: #777;
        margin-bottom: 1rem;
      }
    }
    strong {
      display: inline-block;
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: 1rem;
    }
    .pfSkillTitle {
      font-size: 2.5rem;
      font-weight: 600;
      margin-bottom: 10px;
    }
    .pfSkill {
      margin-bottom: 30px;
      .skill {
        position: relative;
        font-size: 1.8rem;
        display: flex;
        gap: 10px;
        padding-left: 10px;
        &.skill::before {
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          content: "";
          width: 3px;
          height: 3px;
          background: #333;
          border-radius: 50%;
        }
      }
    }
    .pfColor {
      display: flex;
      gap: 1rem;
      li {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
      }
    }
  }
  &.active {
    .picture {
      opacity: 1;
    }
    .desc {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
.profile {
  .inner {
    width: 1170px;
    gap: 10rem;
    padding: 0 5rem;
    h2 {
      flex: 7;
      font-size: 6rem;
      font-family: "LeferiPoint-WhiteObliqueA";
    }

    .desc {
      flex: 5;
      .content {
        margin-bottom: 3rem;
        h3 {
          font-size: 2.5rem;
          font-weight: 700;
          margin-bottom: 1rem;
        }
        strong {
          font-size: 2rem;
        }
        ul {
          font-weight: 300;
          li:not(last-child) {
            margin-bottom: 1rem;
          }
          li {
            font-weight: 600;
            ul {
              display: flex;
              gap: 2rem;
              li {
                font-weight: 300;
                font-size: 1.8rem;
              }
            }
          }
          &.profileContent {
            li {
              font-weight: 300;
            }
          }
        }
      }
    }
  }
}
